<% layout('layout') -%>

<div class="jumbotron">
	<div class="col-centered" style="text-align: center">
		<h1>404 ERROR</h1>
		<h2>The page you are looking for does not exist</h2>

		<img src="https://s3.amazonaws.com/lowres.cartoonstock.com/children-computer_error-error_page-404-homework_excuses-homework_projects-mbcn3451_low.jpg" alt="404">

	</div>
</div>