<% layout('students/boilerplate') -%>
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="jumbotron">
            <div class="form-group form-group-lg" style="padding: 0 8%">
                <h2>Add a Student</h2>
                <form action="/teachers/<%= teacher.id %>/students" method="POST">
                    
                    <label class="control-label" for="number">Number:</label>
                    <input class="form-control" type="text" id="number" name="student[number]">

                    <label class="control-label" for="fname">First Name:</label>
                    <input type="text" id="fname" name="student[firstName]" class="form-control" autofocus required>
                    <label class="control-label" for="lname">Last Name:</label>
                    <input type="text" id="lname" name="student[lastName]" class="form-control">
                    <label class="control-label" for="nname">Nick Name:</label>
                    <input type="text" id="nname" name="student[nickName]" class="form-control">
                    <label class="control-label" for="gender">Gender:</label>
                    <select class="form-control" id="gender" name="student[gender]">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                    <label for="birthdate">Birth Date:</label>
                    <input type="date" id="birthdate" name="student[birthday]" class="form-control">
                    <label class="control-label" for="allergies">Allergies:</label>
                    <input type="text" id="allergies" name="student[allergies]" class="form-control">
                    <label class="control-label" for="othre">Other Info:</label>
                    <input type="text" id="other" name="student[other]" class="form-control">
                    <label class="col-sm-2 control-label" for="email">Email:</label>
                    <input type="email" id="email" name="student[email]" class="form-control">
                    <label class="col-sm-2 control-label" for="password">Password:</label>
                    <input type="password" id="password" name="student[password]" class="form-control">
                </div>
                    <input type="submit" id="add" value="Welcome Student" class="btn btn-primary btn-lg" style="margin: 2%">
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
