<% layout('assignment/boilerplate') -%>
<script src="/core.js"></script>
        <div class="container-fluid">
        <input type="hidden" id="subject" value="ela">
            <div class="row">
                <div class="span9">
                    <div class="page-header span9 offset1">
                        <div id="curriculum-grade-header"></div>
                    </div>
                    <div class="well span9 offset1">
                        <div id="list-of-standards"></div>
                    </div>
                </div>
            </div>
        </div>
